draw_config:
  key_w: 60
  key_h: 56
  split_gap: 30.0
  n_columns: 1

parse_config:
  zmk_preamble: |
    #define BASE 0
    #define NAV 1
    #define MOUSE 2
    #define NUM 3

  raw_binding_map:
    "&kp ESC": "ESC"
    "&kp BSLH": "\\"
    "&kp SQT": "'"
    "&kp SEMI": ";"
    "&kp LBKT": "["
    "&kp RBKT": "]"
    "&kp MINUS": "-"
    "&kp EQUAL": "="
    "&kp GRAVE": "`"
    "&kp TILDE": "~"
    "&kp EXCL": "!"
    "&kp AT": "@"
    "&kp HASH": "#"
    "&kp DLLR": "$"
    "&kp PRCNT": "%"
    "&kp CARET": "^"
    "&kp AMPS": "&"
    "&kp ASTRK": "*"
    "&kp LPAR": "("
    "&kp RPAR": ")"
    "&kp UNDER": "_"
    "&kp PLUS": "+"
    "&kp LBRC": "{"
    "&kp RBRC": "}"
    "&kp PIPE": "|"
    "&kp COLON": ":"
    "&kp DQT": '"'
    "&kp LT": "<"
    "&kp GT": ">"
    "&kp QMARK": "?"
    "&bootloader": "BOOT"
    "&sys_reset": "RESET"